*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,blinkmacsystemfont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
    
}

#container a{
    cursor: pointer;
}
.hidden{height: 570px;width: 1280px;background-color: white;border-radius: 10px;position:absolute;display: none;box-shadow: 3px 2px 2px rgba(22,22,22,1);}
#arrow:active .hidden{ 
    display:block;position: absolute;
}
#container{
    width: 100%;
    margin: 0px auto;

}
.header{
    height: 143px;
    width: 100%;border-bottom:1px solid grey
    ;z-index: 6;
    position: sticky;
    top: 0px;
    background-color: white;

}
.tophead{
    height: 64px;
width: 100%;
background-color: #EBF1FF;}
#topin{
    height: 64px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    margin: 0px 120px;
}
#side1{
    height: 58px;
    width: 350px;
    display: flex;
    gap: 20px;
    /* border: 2px solid black; */
    align-items: center;
    margin-top: 12px;

}
.logo{height: 58px;
    width: 90px;
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius:20px ;
    display: flex;
justify-content: center;
align-items: center;

}
.car{
    height: 24px;
    width: 133px;
    display: flex;
    gap:10px;
    /* border: 2px solid black; */
}
#side2{
    height: 48px;
    width: 330px;
    display: flex;
    justify-content: space-around;
    /* margin-top: 10px;padding-bottom: 10px   ; */
    align-items: center;

}
.symbol{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box1{
    background-image: url(./images/sell.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 48px;
    width: 104px;
    border-radius: 50px;
    

}
#bottomhead{
    height: 78px;
    width: 85%;
    display:flex ;
    margin: 0px 130px;
    padding: 16px 0px 12px;
    gap:0px;
    /* border: 2px solid black;     */
}
#navinp{
        height: 100%;
        width: 669px;border: none;
        padding-left: 10px;
        font-size: 18px;
        word-spacing:2px;
}
.listlink{
    margin: 15px;
    font-size: 17px;
    color:#002F34;
    text-decoration: none;
    /* font-weight:300; */
}
.box{
    width: 120.8px;
    height: 117px;
    /* border: 2px solid black; */
    flex-direction: column;
    align-items:center;
    display: flex;
    justify-content: center;
}
.img{
    width: 80px;
    height: 80px;
    margin: 0px auto
}
.box span {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.chg{
    height: 137px;
}
.boxdiv a{
    text-decoration: none;
}
#mobilebox{
    height: 511px;width: 1280px;
}
#mobilebox a{
    font-size: 18px;font-weight: 500;color: blue;
    cursor: pointer;
    text-decoration: none;

}
.mobbox{
    height: 460px;width: 309px;margin-top: 10px;box-shadow: 1px 1px 1px 0px rgb(115, 131, 131,0.5);border-radius: 5px;
}
.mobbox img{
    width: 100%;
    height:100%;
    border-radius: 5px 5px 0px 0px;
}
.span{
    line-height:30px;padding: 20px;height: 117px;
}
  #curren{
height: 180px;width: 1280px;
background-image:url(./images/currency.webp)
;background-position:center;
background-size:contain;
background-repeat: no-repeat;
  }
#last img{
    width: 128px;
    height: 40px;
}
#footer{
    height: 288px;
    width: 1520px;
    display: flex;
    justify-content: space-evenly;background-color: #F2F4F5;
}
.sec{height:159px;width: 271px;position: relative;top: 30px;}
.sec h3 {
    padding-left: 70px;
}
.sec li{
    list-style: none;
    padding-left: 70px;
    font-size:16px;line-height: 30px;
}